*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #4c5dce1a;
}

.calculator{
    width: 340px;
    background: #371b58;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,.25),
    inset -8px -8px 16px 0 rgba(0,0,0,.25),
    inset 8px 8px 16px 0 rgba(83,69,152,.2);
}
.calculator input{
    width: 100%;
    padding: 12px 8px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: #000;
    border-radius: 4px;
    background: linear-gradient(#d1dce0, #dfe6e9);
    border: 1px solid #e1e7ea;
    user-select: none;

}

.calculator .calculator-btn{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 74px);
    margin-top: 20px;
}
.calculator-btn button{
    margin: 4px;
    padding: 12px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #fff;
    background: #4c3575;
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid #4c3575;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,.25),
    inset -8px -8px 16px 0 rgba(0,0,0,.25),
    inset 8px 8px 16px 0 rgba(83,69,152,.2);
    cursor: pointer;
}

.calculator-btn button:hover{
    background: #7858a6;
    transform: scale(1.05);
}

.calculator-btn .result{
    background: #7858a6;
}

.calculator-btn .clear{
    border-color: #e2703a;
    background: #e2703a;
}

.calculator-btn .clear:hover{
    background: #eeb76b;
}


.calculator-btn .delete{
    border-color: #e94560;
    background: #e94560;
}

.calculator-btn .delete:hover{
    background: #c74b50;
}